<!DOCTYPE html>

<!-- Definir idioma de la página -->
<html lang="es">

<head>
    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título del documento -->
    <title>Categorías</title>
    <!-- Mandar a llamar el framework -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <!-- Mandar a llamar css del navbar -->
    <link href="../../resources/css/navbar_privado.css" rel="stylesheet">
    <!-- Mandar a llamar css de la página -->
    <link href="../../resources/css/categorias.css" rel="stylesheet">
</head>

<!-- Cuerpo de la página -->

<body>
    <main>
        <!-- CREAMOS FILAS Y COLUMNAS (ROW = FILAS, COL = COLUMNAS) -->
        <!-- CREAMOS EL CONTENEDOR PADRE DE LOS ELEMENTOS  BOTON AGREGAR Y LA BARRA DE BUSQUEDA-->
        <div class="container-fluid">
            <!-- CREAMOS LA FILA Y COLUMNA DONDE COLOCAMOS EL BOTON "AGREGAR CATEGORIA" Y LA "BARRA DE BUSQUEDA"-->
            <div class="row mt-5 row-gap-3">
                <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <!-- Botón para abrir el modal -->
                    <button type="button" class="btn btn-primary ms-5" onclick="abrirModal('Agregar categoría')">Agregar
                        Categoría
                        +</button>
                </div>
                <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <form class="d-flex" id="formBuscar">
                        <input class="form-control mr-sm-2" type="search"
                            placeholder="Buscar categorías por nombre o descripción..." name="buscarCategoria"
                            id="buscarCategoria" oninput="verificarReset()">
                        <button class="btn" type="submit"><img src="../../resources/img/lupa.png" class="img-fluid"
                                width="35px" height="35px" alt="buscarimg"></button>
                    </form>
                </div>
            </div>
            <!-- CREAMOS LA FILA DONDE COLOCAMOS LA TABLA DE LOS ELEMENTOS DE LA CATEGORIA-->
            <div class="container-fluid table-responsive mt-5" id="contenedorTablaCategorias">
                <table class="table">
                    <!-- CREAMOS LA CABECERA DE LA TABLA DE CATEGORIA -->
                    <thead>
                        <tr>
                            <td colspan="4" id="filasEncontradas"></td>
                        </tr>
                        <tr>
                            <th class="text-center">Imagen</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Descripción</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <!-- CREAMOS EL INTERIOR DE LA TABLA (LAS FILAS Y COLUMNAS DE CADA CATEGORIA)-->
                    <tbody id="cuerpoTabla">
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal agregar -->
        <div class="modal fade" id="modalCategoria">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <!-- Encabezado del modal -->
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="tituloModal"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form id="formCategoria">
                        <!-- Cuerpo del modal -->
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="mb-md-6">
                                            <input type="number" class="d-none" id="idCategoria" name="idCategoria">
                                            <label for="nombreCategoria" class="col-form-label">Nombre de la
                                                categoría:</label>
                                            <input type="text" class="form-control" id="nombreCategoria"
                                                name="nombreCategoria" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3">
                                            <label for="descripcionCategoria"
                                                class="col-form-label">Descripción:</label>
                                            <textarea class="form-control" id="descripcionCategoria"
                                                name="descripcionCategoria" required></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="imagenCategoria" class="col-form-label text-md-right">Imagen de la
                                            categoría:</label>
                                    </div>
                                    <div class="row">
                                        <input type="file" class="form-control" id="imagenCategoria"
                                            name="imagenCategoria" accept=".png, .jpg" onchange="cargarImagen(event)"
                                            required>
                                    </div>
                                    <div class="row d-flex align-items-center justify-content-center">
                                        <img src="../../api/images/categorias/categoria_imageholder.png"
                                            class="img-thumbnail col-md-6 col-md-3" id="imgCategoria">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Footer del modal -->
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="submit" class="btn" id="btnAccion"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal eliminar -->
        <div class="modal fade" id="borrarModalCategoria">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="formEliminar">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="tituloModalEliminar"></h1>
                            <input type="number" class="d-none" id="inputIdCategoria" name="idCategoria">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <button type="submit" class="btn btn-primary" onclick="">Eliminar</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- IMPORTANDO ARCHIVOS JAVASCRIPT -->
    <!-- Mandar a llamar el framework -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <!-- Mandar a llamar la librería de alertas -->
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/componentes.js"></script>
    <!-- Mandar a llamar el controlador de la página privada -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Controlador js de categorias -->
    <script type="text/javascript" src="../../controllers/private/categorias.js"></script>
</body>

</html>