.navbar{
    background-color: #BCE7FD;
}

#texto-ss{
    font-weight: 500; font-size: x-large;
}

span{
    color: #3E88DE;
}

.nav-link{
    font-weight: 600;
}

html, main{
    min-height: 100%;
    overflow: auto;
}

.mtexto-0{
    margin: 0px;
}

.contenedor-grafico{
    height: 50vh;
}

@media only screen and (max-width: 500px) {
    #contenedorSeaSmart{
        display: none;
    }
}